# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

/include
/firmware
EZ-Template@3.2.2.zip
Makefile
project.PROS
common.mk
.clang-format